$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;
$light-gray: #dad2d8;
$gunmetal: #143642;
$dark-cyan: #0f8b8d;
$med-turquoise: #55dde0;
$beau-blue: #c7dbe6;
